footer {
  background-color: #3498db;
  color: white;
  padding: 50px;

  a {
    i {
      color: white;
      font-size: 2em;
      margin: 15px;
    }
    i:hover {
      color: white;
    }
  }

}